{% extends "base.html" %}

{% block content %}
<h3> Log in and Blog us some Blogz</h3>

<form action="/login" method = "post">

    <label for="email">email: </label>
    <input type="text" name="email" value={{email}}>
    <span class="error">{{user_error}}</span></br>

    <label for="password">password: </label>
    <input type="password" name="password" value={{password}}>
    <span class="error">{{user_error}}</span></br>

    <input type="submit" value="Log-In">
    
</form>
<h4>Need an account? Click <a href="/signup"> here </a> to fix that</h4>

{% endblock %}