{% extends "base.html" %}

{% block content %}
<h3> Sign up to Blog some Blogz!</h3>

<form action="/signup" method = "post">

    <label for="email">email: </label>
    <input type="text" name="email" value={{email}}>
    <span class="error">{{user_error}}</span></br>

    <label for="password">password: </label>
    <input type="password" name="password" value={{password}}>
    <span class="error">{{user_error}}</span></br>
    
    <label for="verify">verify password: </label>
    <input type="password" name="verify" value={{verify}}>
    <span class="error">{{user_error}}</span></br>
    
    <input type="submit" value="Sign Up!">

</form>

{% endblock %}